.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 1000px; 
}

.auth-card {
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.auth-card.flipped {
  transform: rotateY(180deg); 
}

.auth-card-front,
.auth-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  padding: 20px;
  box-sizing: border-box;
}

.auth-card-front {
  background-color: #fff;
  border: 1px solid #ddd;
}

.auth-card-back {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  transform: rotateY(180deg); 
}

h2 {
  text-align: center;
  margin-bottom:20px;
  font-size: 24px;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus, button:focus{
  outline: none;
  border-color: #4CAF50;

}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  color: grey;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #ddd;
  border: none;
  width: 100%;
  cursor: pointer;
}

.social-buttons button:hover {
  background-color: #ccc;
}

.social-buttons button svg {
  margin-right: 10px;
}
